streamlit>=1.20
pandas
langchain
openai
faiss-cpu
sentence-transformers
chromadb
python-dotenv
requests
folium
streamlit-folium
tqdm
streamlit
langchain
langchain-community
langchain-core
groq
python-dotenv
requests
huggingface-hub
langchain-openai
langchain-text-splitters
